*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

body{
    /* background-image: url(./images/Nostalgic-Wallpapers-Top-Free-Nostalgic-Backgrounds-.jpg); */
    background-image: url(./images/1960larda-galata-koprusu-1546.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    
}

.container{
    width: 80%;
    /* height: 100vh; */
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
    
}
.header {
    background-color: #57233a;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2));
   
    
}
.logo{
    width: 150px;
    margin: 5px 20px;
    border-radius: 50px;
}
.logoDiv{
    display: flex;
}
.logoDiv h1{
    width: 100%;
    margin: auto;
    /* padding-left: 40px; */
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    
    
}
.logoDiv h1 a{
    text-decoration: none;
    /* color: #faf0dc; */
    /* color: #e6cfc5; */
color: #fff3e1;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    /* height: 5%; */
    background-attachment: fixed;
    
}
.navbar ul {
    text-decoration: none;
    list-style:none;
    display: flex;
    column-gap: 2%;
    margin-right: 5%;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff3e1;
    font-size: 20px;
}

.main{
    padding: 3%;
    
}

.mainText {
    /* border: 2px red solid; */
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(rgba(240, 240, 240, 0),rgba(240, 240, 240, 0.2));
    color: #fff;
}
.mainText h2{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    padding: 20px;
}
.sections{
    padding:0 60px;
    padding-top: 30px;
}
.sections section{
    display: flex;
    padding: 5px;
}
section{
    background-image: linear-gradient(rgba(240, 240, 240, 0),rgba(240, 240, 240, 0.3));
    color: #fff;
}
.sections p{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
.SAlisik{
    width: 25%;
}

.bio{
    font-size: 30px;
}
.bio, .bio a{
    display:contents; 
}

.uzayYolu{
    width:400px ;
    /* height: 350px; */
    max-height: 350px;
}
.filmog{
    font-size: 30px;
}
.filmog, .filmog a{
    display:contents; 
}
.AGI1{
    width: 25%;
}
