*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

body{
    background-image: url(./images/Nostalgic-Wallpapers-Top-Free-Nostalgic-Backgrounds-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(10, 47, 116, 0.6));
    
}
.logo{
    width: 100px;
    margin: 5px 20px;
    border-radius: 50px;
}
.logoDiv{
    display: flex;
}
.logoDiv h1{
    width: 100%;
    margin: auto;
    padding-left: 40px;
    font-size: 50px;
    font-family: 'Yellowtail', cursive;
    color: rgb(250, 182, 93);
    
}
.logoDiv h1 a{
    text-decoration: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul {
    text-decoration: none;
    list-style:none;
    display: flex;
    column-gap: 30px;
    margin-right: 10%;
    
}
.navbar ul li a{
    text-decoration: none;
    color: magenta;
    font-size: 15px;
}

.main{
    padding: 3%;
    
}

.mainText {
    /* border: 2px red solid; */
    width: 100%;
    
}
.mainText h2{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
}
.main img{
    width: 25%;
}
.main section{
    display: flex;
    padding: 5px;
}